# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller artifacts
build/
dist/
*.spec

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Build artifacts
Output/
dist/
build/
*.exe
*.msi

# Tesseract (solo el .rar, no la carpeta)
Tesseract-OCR/
